<a href="https://colab.research.google.com/github/YashThavkar/Advanced_Python/blob/main/Advanced_Py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Day 1

# <h2><b>Introduction to Google colab</b> </h2>

* Google Colab is a document that allows you to write, run, and share
Python code within your browser.
* It is a version of the popular Jupyter Notebook within the Google suite of tools.
* Jupyter Notebooks (and therefore Google Colab) allow you to create a document containing executable code along with text, images, HTML, LaTeX, etc. 
which is then stored in your google drive and shareable to peers and colleagues for editing, commenting, and viewing.
* Watch <a href="https://www.youtube.com/watch?v=inN8seMm7UI">Introduction to Colab</a> to find out more

<h3> Benefits of Google Colab </h3>

* Sharing notebooks is as easy as sharing any Google document. You can also get the app and run the code from your phone.

* You can use the powerful and popular Python language in your Google Drive, and the set-up will take less than five minutes.

* Because Python runs on a server (and not in your local browser or on your local computer) you can easily use it to interact with an online database and analyze data in situations where you need to keep the code private.

* Colab is shipped with several pre-installed data libraries, such as Pandas, NumPy, Matplotlib, which is awesome. Google Colab provides even more pre-installed machine learning libraries such as Keras, TensorFlow, and PyTorch.

* Free GPU and TPU Use

# <h2><b>Introduction to Python</b></h2>

* Python is a high-level programming language for general-purpose programming.
* It is an open source, interpreted, objected-oriented programming language. 
* Python was created by a Dutch programmer, Guido van Rossum. 
* The name of Python programming language was derived from a British sketch comedy series, Month Python's Flying Circus. 
* The first version was released on February 20, 1991.
* It has been used to develop web applications, desktop applications, system adminstration, and machine learning libraries
* Python is highly embraced language in the data science and machine learning community

**Print Statement**

In [ ]:
print("Hello World")

Hello World

**Comment** <br>
A comment is a part of the code which is not executed by python. So we can leave some text in our code to make our code more readable. Python does not run the comment part. A comment in python starts with hash(#) symbol. This is how you write a comment in python

In [ ]:
# this is a python comment
# this code is not executed

Let us do some basic mathematical operations (addition, subtraction, multiplication, division, modulus, exponential).

In [ ]:
print(5 + 3) # addtion

8

In [ ]:
print(8 - 2) # subtraction

6

In [ ]:
print(4 * 2) # multiplication

8

In [ ]:
print(8/ 2) # division

4.0

In [ ]:
print(4 ^ 2) # exponentiation

6

In python we have the following additional operations:

In [ ]:
print(7 % 2) # which means finding the remainder (modulus)

1

In [ ]:
print(7 // 2) # which means removing the remainder

3

<h1>Data types</h1>

In Python there are several types of data types. Let us get started with the most common ones. Different data types will be covered in detail in other sections. For the time being, let us just go through the different data types and get familiar with them.

<h3>Number</h3>

**Integer:** (negative, zero and positive) Example: `... -3, -2, -1, 0, 1, 2, 3 ...`
<br>
**Float:** (Decimal number) Example `... -3.5, -2.25, -1.0, 0.0, 1.1, 2.2, 3.5 ...`
<br>
**Complex**(Complex Numbers) Example `1 + j, 2 + 4j`


<h3> String </h3>

A collection of one or more characters under a single or double quote. If a string is more than one sentence then we use a triple quote.

Example:
```
'Asabeneh'
'Finland'
'Python'
'I love teaching'
'I hope you are enjoying the first day of 30DaysOfPython Challenge'
```

<h3> Booleans</h3>

A boolean data type is either a True or False value. T and F should be always uppercase.

Example:

    True  #  Is the light on? If it is on, then the value is True
    False # Is the light on? If it is off, then the value is False

<br>

<h3>List</3>

Python list is an ordered collection which allows to store different data type items. A list is similar to an array in JavaScript.

Example:
```
[0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers
['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)
['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)
['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float
```
<br>

<h3>Dictionary</h3>

A Python dictionary object is an unordered collection of data in a key value pair format.

Example:
```
{
'first_name':'Asabeneh',
'last_name':'Yetayeh',
'country':'Finland', 
'age':250, 
'is_married':True,
'skills':['JS', 'React', 'Node', 'Python']
}
```
<br>
<h3>Tuple</h3>

A tuple is an ordered collection of different data types like list but tuples can not be modified once they are created. They are immutable.

Example:
```
('Asabeneh', 'Pawel', 'Brook', 'Abraham', 'Lidiya') # Names
('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets

```
<br>

<h3>Set</h3>

A set is a collection of data types similar to list and tuple. Unlike list and tuple, set is not an ordered collection of items. Like in Mathematics, set in Python stores only unique items.

Example:
```
{2, 4, 3, 5}
{3.14, 9.81, 2.7} # order is not important in set
```

<h2>Checking Data types</h2>

To check the data type of certain data/variable we use the type function.

In [ ]:
type(10)

int

In [ ]:
type(10.4)

float

In [ ]:
type(5 + 1j)

complex

In [ ]:
type('this')

str

In [ ]:
type(True)

bool

In [ ]:
type([1, 3, 5, 10])

list

In [ ]:
type((1,4,5))

tuple

In [ ]:
type( {'Name' : 'Krish', 'Roll_No': 21})

dict

In [ ]:
type({1, 23 ,34 ,2})

set

**Variables**

Variables store data in a computer memory. Mnemonic variables are recommended to use in many programming languages. A mnemonic variable is a variable name that can be easily remembered and associated. A variable refers to a memory address in which data is stored. Number at the beginning, special character, hyphen are not allowed when naming a variable. A variable can have a short name (like x, y, z), but a more descriptive name (firstname, lastname, age, country) is highly recommended.

Python Variable Name Rules

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)

**Let us se valid variable names:** <br>

1. firstname 
2. lastname 
3. age 
4. country
5. city
6. first_name
7. last_name

**Invalid variables names**
1. first-name
2. first@name
3. first$name
4. num-1
5. 1num

In [ ]:
first_name = 'Asabeneh'
last_name = 'Yetayeh'
country = 'Finland'
city = 'Helsinki'
age = 250
is_married = True
skills = ['HTML', 'CSS', 'JS', 'React', 'Python']
person_info = {
   'firstname':'Asabeneh',
   'lastname':'Yetayeh',
   'country':'Finland',
   'city':'Helsinki'
   }

Let us use the print()

In [ ]:
print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Asabeneh
First name length: 8
Last name:  Yetayeh
Last name length:  7
Country:  Finland
City:  Helsinki
Age:  250
Married:  True
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python']
Person information:  {'firstname': 'Asabeneh', 'lastname': 'Yetayeh', 'country': 'Finland', 'city': 'Helsinki'}

#Day 2

# Operations in Python
1.Arithmetic Operator

2.Relational Operators (<,>,==,!=)

3.Logical Operators (&)

In [ ]:
# Declaring the variable at the top first

a = 3 # a is a variable name and 3 is an integer data type
b = 2 # b is a variable name and 3 is an integer data type

# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

# I should have used sum instead of total but sum is a built-in function - try to avoid overriding built-in functions
print(total) # if you do not label your print with some string, you never know where the result is coming from
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

5
a + b =  5
a - b =  1
a * b =  6
a / b =  1.5
a % b =  1
a // b =  1
a ** b =  9

In [ ]:
# Calculating area of a circle
radius = 10                                 # radius of a circle
area_of_circle = 3.14 * radius ** 2         # two * sign means exponent or power
print('Area of a circle:', area_of_circle)

# Calculating area of a rectangle
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

# Calculating a weight of an object
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N')                         # Adding unit to the weight

# Calculate the density of a liquid
mass = 75 # in Kg
volume = 0.075 # in cubic meter
density = mass / volume # 1000 Kg/m^3

Area of a circle: 314.0
Area of rectangle: 200
735.75 N

Relational Operators (<,>,==,!=)

In [ ]:
print('1', 3 > 2)     # True, because 3 is greater than 2
print('2', 3 >= 2)    # True, because 3 is greater than 2
print('3', 3 < 2)     # False,  because 3 is greater than 2
print('4', 2 < 3)     # True, because 2 is less than 3
print('5', 2 <= 3)    # True, because 2 is less than 3
print('6', 3 == 2)    # False, because 3 is not equal to 2
print('7', 3 != 2)    # True, because 3 is not equal to 2

# Comparing something gives either a True or False

print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)

1 True
2 True
3 False
4 True
5 True
6 False
7 True
True == True:  True
True == False:  False
False == False: True

Logical Operators

Unlike other programming languages python uses keywords and, or and not for logical operators.

1- Only Simple

2- Combine Logical operators

In [ ]:
a=True
b=False

In [ ]:
a and b

False

In [ ]:
b and a

False

In [ ]:
a or a

True

In [ ]:
b&b

False

In [ ]:
a|b

True

In [ ]:
a|a

True

In [ ]:
b|a

True

In [ ]:
b|b

False

In [ ]:
print(3 > 2 and 4 > 3) # True - because both statements are true
print(3 > 2 and 4 < 3) # False - because the second statement is false
print(3 < 2 and 4 < 3) # False - because both statements are false
print('True and True: ', True and True)
print(3 > 2 or 4 > 3)  # True - because both statements are true
print(3 > 2 or 4 < 3)  # True - because one of the statements is true
print(3 < 2 or 4 < 3)  # False - because both statements are false
print('True or False:', True or False)
print(not 3 > 2)     # False - because 3 > 2 is true, then not True gives False
print(not True)      # False - Negation, the not operator turns true to false
print(not False)     # True
print(not not True)  # True
print(not not False) # False

True
False
False
True and True:  True
True
True
False
True or False: True
False
False
True
True
False

In [ ]:
print(0 and 1) #zero represents Flase and 1 Represents
print(0 or 1)
print(not 0)

0
1

#Conditionals
By default, statements in Python script are executed sequentially from top to bottom. If the processing logic require so, the sequential flow of execution can be altered in two way:

Conditional execution: a block of one or more statements will be executed if a certain expression is true
Repetitive execution: a block of one or more statements will be repetitively executed as long as a certain expression is true. In this section, we will cover if, else, elif statements. The comparison and logical operators we learned in previous sections will be useful here.

If Condition

In [ ]:
a=1
b=6

In [ ]:
if(1>6):
    print("a is greater")
else:
    print("not greater")

not greater

In [ ]:
if(1<6):
    print("a is smaller")

a is smaller

# else Statement

In [ ]:
a=23
b=12

In [ ]:
if(a<b):
    print("a is greater")
else:
    print("b is greater")

b is greater

# elif Statement

In [ ]:
a=10
b=12
c=14

In [ ]:
if(a>b & a>c):
    print("a is greatest")
elif(b>a & b>c):
    print("b is greatest")
else:
    print("c is greatest")

c is greatest

# if statement with Tuple

In [ ]:
tup1=(11,22,33,44)

In [ ]:
if 12 in tup1:
    print("12 is present in tup1")
else:
    print("12 is not present in tup1")

12 is not present in tup1

# if statement with List

In [ ]:
l1=[1,2,3]

In [ ]:
if(l1[0]==1):
    l1[0]=l1[0]+50

In [ ]:
l1

[51, 2, 3]

In [ ]:
if(l1[1]==1):
    l1[1]=l1[1]+100
else:
    l1[1]=4

In [ ]:
l1

[51, 4, 3]

# if statement with Dictionary

In [ ]:
d1={"a":10,"b":15,"c":20,"e":25}

In [ ]:
if(d1["a"]==25):
    d1["a"]=15
else:
    d1["a"]=d1["a"]+20

In [ ]:
d1

{'a': 30, 'b': 15, 'c': 20, 'e': 25}

Nested Conditions

Conditions can be nested

In [ ]:
a = 0
if a > 0:
    if a % 2 == 0:
        print('A is a positive and even integer')
    else:
        print('A is a positive number')
elif a == 0:
    print('A is zero')
else:
    print('A is a negative number')

#Day 3

#Loops

Life is full of routines. In programming we also do lots of repetitive tasks. In order to handle repetitive task programming languages use loops. Python programming language also provides the following types of two loops:

1.while loop

2.for loop

#while loop
We use the reserved word while to make a while loop. It is used to execute a block of statements repeatedly until a given condition is satisfied. When the condition becomes false, the lines of code after the loop will be continued to be executed.

In [ ]:
# syntax
while condition:
    code goes here

In [ ]:
### While loop 
count = 0
while count < 5:
    print(count)
    count = count + 1
#prints from 0 to 4

In [ ]:
count = 0
while count < 5:
    print(count)
    count = count + 1
else:
    print(count)

#Break and Continue
Break: We use break when we like to get out of or stop the loop.

Continue: With the continue statement we can skip the current iteration, and continue with the next:

In [ ]:
## Break 
count = 0
while count < 5:
    print(count)
    count = count + 1
    if count == 3:
        break

In [ ]:
### Continue
count = 0
while count < 5:
    if count == 3:
        continue
    print(count)
    count = count + 1

#For loop
A for keyword is used to make a for loop, similar with other programming languages, but with some syntax differences. Loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [ ]:
numbers = [0, 1, 2, 3, 4, 5]
for number in numbers: # number is temporary name to refer to the list's items, valid only inside this loop
    print(number)       # the numbers will be printed line by line, from 0 to 5

In [ ]:
language = 'Python'
for letter in language:
    print(letter)


for i in range(len(language)):
    print(language[i])

In [ ]:
## Exersize tuple
numbers = (0, 1, 2, 3, 4, 5)
for number in numbers:
    print(number)

In [ ]:
### Dictionary iteration
person = {
    'first_name':'Asabeneh',
    'last_name':'Yetayeh',
    'age':250,
    'country':'Finland',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}
for key in person:
    print(key)

for key, value in person.items():
    print(key, value) # this way we get both keys and values printed out

In [ ]:
### Break in for loop
# syntax
for iterator in sequence:
    code goes here
    if condition:
        break

In [ ]:
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)
    if number == 3:
        break

In [ ]:
### Continue
numbers = (0,1,2,3,4,5)
for number in numbers:
    #print(number)
    if number == 3:
        continue
    print(number + 1) 
    #if number != 5: 
    #else:
       #print("loop's end") # for short hand conditions need both if and else statements
print('outside the loop')

1
2
3
5
6
outside the loop

#The Range Function
The range() function is used list of numbers. The range(start, end, step) takes three parameters: starting, ending and increment. By default it starts from 0 and the increment is 1. The range sequence needs at least 1 argument (end). Creating sequences using range

In [ ]:
lst = list(range(11)) 
print(lst) # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
st = set(range(1, 11))    # 2 arguments indicate start and end of the sequence, step set to default 1
print(st) # {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

lst = list(range(0,11,2))
print(lst) # [0, 2, 4, 6, 8, 10]
st = set(range(0,11,2))
print(st) #  {0, 2, 4, 6, 8, 10}

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
[0, 2, 4, 6, 8, 10]
{0, 2, 4, 6, 8, 10}

In [ ]:
for number in range(11):
    print(number)   # prints 0 to 10, not including 11

#Nested For Loop
We can write loops inside a loop.

In [ ]:
# syntax
for x in range(10):
    for t in range(x):
        print(t,end=" ")
    print(" ")

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8

#Pass
In python when statement is required (after semicolon), but we don't like to execute any code there, we can write the word pass to avoid errors. Also we can use it as a placeholder, for future statements.

In [ ]:
for number in range(6):
    pass

#Exercise Draw the Pattern

In [ ]:
  #
  ##
  ###
  ####
  #####
  ######
  #######

In [ ]:
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

 Print Table of any number
0 x 0 = 0

1 x 1 = 1

2 x 2 = 4

3 x 3 = 9

4 x 4 = 16

5 x 5 = 25

6 x 6 = 36

7 x 7 = 49

8 x 8 = 64

9 x 9 = 81

10 x 10 = 100

Exercises: Level 2

Use for loop to iterate from 0 to 100 and print the sum of all numbers.
The sum of all numbers is 5050.

Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.

The sum of all evens is 2550. And the sum of all odds is 2500.

#Day 4

#String and it's function

In [ ]:
### Len Function
# Single line comment
letter = 'P'                # A string could be a single character or a bunch of texts
print(letter)               # P
print(len(letter))          # 1
greeting = 'Hello, World!'  # String could be  a single or double quote,"Hello, World!"
print(greeting)             # Hello, World!
print(len(greeting))        # 13
sentence = "I hope you are enjoying 30 days of python challenge"
print(sentence)
print(len(sentence))

P
1
Hello, World!
13
I hope you are enjoying 30 days of python challenge
51

In [ ]:
a = " "
print(len(a))

1

In [ ]:
# Multiline String
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.'''
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.

In [ ]:
# String Concatenation
first_name = 'Yash'
last_name = 'Thavkar'
space = ' '
full_name = first_name  +  space + last_name
print(full_name)

Yash Thavkar

In [ ]:
# Checking length of a string using len() builtin function
print(len(first_name))  # 8
print(len(last_name))   # 7
print(len(first_name) > len(last_name)) # True
print(len(full_name)) # 15

4
7
False
12

In [ ]:
#### Unpacking characters 
language = 'Python'
a,b,c,d,e,f = language # unpacking sequence characters into variables
print(a) # P
print(b) # y
print(c) # t 
print(d) # h
print(e) # o
print(f) # n

P
y
t
h
o
n

In [ ]:
# Accessing characters in strings by index
language = 'Python'
first_letter = language[4]
print(first_letter) # P
second_letter = language[1]
print(second_letter) # y
last_index = len(language) - 1
last_letter = language[last_index]
print(last_letter) # n

o
y
n

In [ ]:
# Negative Indexing 
language = 'Python'
last_letter = language[-1]
print(last_letter) # n
second_last = language[-2]
print(second_last) # o

n
o

In [ ]:
# Slicing
language = 'Python'
first_three = language[0:3] # starts at zero index and up to 3 but not include 3
last_three = language[3:6]
print(first_three)
print(last_three) # hon
# Another way
last_three = language[-3:]
print(last_three)   # hon
first_three = language[:3]
print(first_three)   # hon

Pyt
hon
hon
Pyt

In [ ]:
# Skipping character while splitting Python strings
language = 'Python'
pto = language[0:6:2] # 
print(pto) # pto

Pto

In [ ]:
print(language[::-1])

nohtyP

In [ ]:
## String Methods
# capitalize(): Converts the first character the string to Capital Letter
challenge = 'thirty days of python'
print(challenge.capitalize()) # 'Thirty days of python'

Thirty days of python

In [ ]:
# title function
print(challenge.title())

Thirty Days Of Python

In [ ]:
# count(): returns occurrences of substring in string, count(substring, start=.., end=..)

challenge = 'thirty days of python'
print(challenge.count('y')) # 3
print(challenge.count('y', 7, 14)) # 1
print(challenge.count('th')) # 2`

3
1
2

In [ ]:
# swapcase(): Checks if String Starts with the Specified String
  
challenge = 'thirty days of python'
print(challenge.swapcase())   # THIRTY DAYS OF PYTHON
challenge = 'Thirty Days Of Python'
print(challenge.swapcase())  # tHIRTY dAYS oF pYTHON

THIRTY DAYS OF PYTHON
tHIRTY dAYS oF pYTHON

In [ ]:
# split():Splits String from Left

challenge = 'thirty days of python'
print(challenge.split(" ")) # ['thirty', 'days', 'of', 'python']

['thirty', 'days', 'of', 'python']

In [ ]:
print(challenge.upper())

THIRTY DAYS OF PYTHON

In [ ]:
# replace(): Replaces substring inside

challenge = 'thirty days of python'
print(challenge.replace('python', 'coding')) # 'thirty days of coding'

thirty days of coding

In [ ]:
# join(): Returns a concatenated string

web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
result = ', '.join(web_tech)
print(result)

HTML, CSS, JavaScript, React

In [ ]:
# isdigit(): Checks Digit Characters

# isdigit(): Checks Digit Characters

challenge = 'Thirty'
print(challenge.isdigit()) # False
challenge = '30'
print(challenge.isdigit())   # True

False
True

In [ ]:
### Find and index both functions gives you position of that alphabet
challenge = 'thirty days of python'
print(challenge.find('y'))  # 5
print(challenge.index('y'))
print(challenge.find('th')) # 0
print(challenge.index('th'))

5
5
0
0

#List and it's function

In [ ]:
# creating empty list
lst = []
empty_list = list() # this is an empty list, no item in the list
print(len(empty_list))
print(len(lst))

0
0

In [ ]:
# Len function in list
fruits = ['banana', 'orange', 'mango', 'lemon']                     # list of fruits
vegetables = ['Tomato', 'Potato', 'Cabbage','Onion', 'Carrot']      # list of vegetables
animal_products = ['milk', 'meat', 'butter', 'yoghurt']             # list of animal products
web_techs = ['HTML', 'CSS', 'JS', 'React','Redux', 'Node', 'MongDB'] # list of web technologies
countries = ['Finland', 'Estonia', 'Denmark', 'Sweden', 'Norway']

# Print the lists and it length
print('Fruits:', fruits)
print('Number of fruits:', len(fruits))
print('Vegetables:', vegetables)
print('Number of vegetables:', len(vegetables))
print('Animal products:',animal_products)
print('Number of animal products:', len(animal_products))
print('Web technologies:', web_techs)
print('Number of web technologies:', len(web_techs))
print('Number of countries:', len(countries))

Fruits: ['banana', 'orange', 'mango', 'lemon']
Number of fruits: 4
Vegetables: ['Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot']
Number of vegetables: 5
Animal products: ['milk', 'meat', 'butter', 'yoghurt']
Number of animal products: 4
Web technologies: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'MongDB']
Number of web technologies: 7
Number of countries: 5

In [ ]:
# Modifying list
# Positive Indexing
fruits = ['banana', 'orange', 'mango', 'lemon'] 
first_fruit = fruits[0] # we are accessing the first item using its index
print(first_fruit)      # banana
second_fruit = fruits[1]
print(second_fruit)     # orange
last_fruit = fruits[3]
print(last_fruit) # lemon
# Last index
last_index = len(fruits) - 1
last_fruit = fruits[last_index]

banana
orange
lemon

In [ ]:
# Accessing items
# Negative indexing 
fruits = ['banana', 'orange', 'mango', 'lemon'] 
last_fruit = fruits[-1]
second_last = fruits[-2]
print(last_fruit)       
print(second_last)

lemon
mango

In [ ]:
# Slicing items
fruits = ['banana', 'orange', 'mango', 'lemon'] 
all_fruits = fruits[0:4] # it returns all the fruits
# this is also give the same result as the above
all_fruits = fruits[0:] # if we don't set where to stop it takes all the rest
orange_and_mango = fruits[1:3] # it does not include the end index
orange_mango_lemon = fruits[1:]
print(all_fruits)
print(orange_and_mango)
print(orange_mango_lemon)

['banana', 'orange', 'mango', 'lemon']
['orange', 'mango']
['orange', 'mango', 'lemon']

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon'] 
fruits[2:]

['mango', 'lemon']

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon'] 
all_fruits = fruits[-4:] # it returns all the fruits
# this is also give the same result as the above
orange_and_mango = fruits[-3:-1] # it does not include the end index
orange_mango_lemon = fruits[-3:]
print(all_fruits)
print(orange_and_mango)
print(orange_mango_lemon)

['banana', 'orange', 'mango', 'lemon']
['orange', 'mango']
['orange', 'mango', 'lemon']

In [ ]:
# Adding or inserting without function
fruits = ['banana', 'orange', 'mango', 'lemon'] 
fruits[0] = 'Avocado' 
print(fruits)       #  ['avocado', 'orange', 'mango', 'lemon']
fruits[1] = 'apple'
print(fruits)       #  ['avocado', 'apple', 'mango', 'lemon']
last_index = len(fruits) - 1
fruits[last_index] = 'lime'
print(fruits)

['Avocado', 'orange', 'mango', 'lemon']
['Avocado', 'apple', 'mango', 'lemon']
['Avocado', 'apple', 'mango', 'lime']

In [ ]:
# checking items
fruits = ['banana', 'orange', 'mango', 'lemon']
does_exist = 'banana' in fruits
print(does_exist)  # True
does_exist = 'lime' in fruits
print(does_exist)  # False

True
False

In [ ]:
# Append
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.append('apple')
print(fruits)           # ['banana', 'orange', 'mango', 'lemon', 'apple']
fruits.append('lime')   # ['banana', 'orange', 'mango', 'lemon', 'apple', 'lime]
print(fruits)

['banana', 'orange', 'mango', 'lemon', 'apple']
['banana', 'orange', 'mango', 'lemon', 'apple', 'lime']

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# insert
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.insert(2, 'apple') # insert apple between orange and mango
print(fruits)           # ['banana', 'orange', 'apple', 'mango', 'lemon']
fruits.insert(3, 'lime')   # ['banana', 'orange', 'apple', 'mango', 'lime','lemon',]
print(fruits)

['banana', 'orange', 'apple', 'mango', 'lemon']
['banana', 'orange', 'apple', 'lime', 'mango', 'lemon']

In [ ]:
# remove
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.remove('banana')
print(fruits)  # ['orange', 'mango', 'lemon']
fruits.remove('lemon')
print(fruits)  # ['orange', 'mango']

['orange', 'mango', 'lemon']
['orange', 'mango']

In [ ]:
# pop
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.pop()     
print(fruits)       # ['banana', 'orange', 'mango']

['banana', 'orange', 'mango']

In [ ]:
# del 
fruits = ['banana', 'orange', 'mango', 'lemon']
del fruits[0]     
print(fruits)       # ['orange', 'mango', 'lemon']

del fruits[1]     
print(fruits)       # ['orange', 'lemon']
del fruits
print(fruits)

['orange', 'mango', 'lemon']
['orange', 'lemon']

NameError: ignored

In [ ]:
# clear
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.clear()     
print(fruits)

[]

In [ ]:
# copying a lits

fruits = ['banana', 'orange', 'mango', 'lemon']
fruits_copy = fruits.copy()     
print(fruits_copy)

['banana', 'orange', 'mango', 'lemon']

In [ ]:
# join
positive_numbers = [1, 2, 3,4,5]
zero = [0]
negative_numbers = [-5,-4,-3,-2,-1]
integers = negative_numbers + zero + positive_numbers
print(integers)
fruits = ['banana', 'orange', 'mango', 'lemon']
vegetables = ['Tomato', 'Potato', 'Cabbage','Onion', 'Carrot'] 
fruits_and_vegetables = fruits + vegetables
print(fruits_and_vegetables )

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
['banana', 'orange', 'mango', 'lemon', 'Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot']

In [ ]:
# join with extend
num1 = [0, 1, 2, 3]
num2= [4, 5,6]
num1.extend(num2)
print('Numbers:', num1)
negative_numbers = [-5,-4,-3,-2,-1]
positive_numbers = [1, 2, 3,4,5]
zero = [0]

negative_numbers.extend(zero)
negative_numbers.extend(positive_numbers)
print('Integers:', negative_numbers)
fruits = ['banana', 'orange', 'mango', 'lemon']
vegetables = ['Tomato', 'Potato', 'Cabbage','Onion', 'Carrot'] 
fruits.extend(vegetables)
print('Fruits and vegetables:', fruits )

Numbers: [0, 1, 2, 3, 4, 5, 6]
Integers: [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
Fruits and vegetables: ['banana', 'orange', 'mango', 'lemon', 'Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot']

In [ ]:
# count
fruits = ['banana', 'orange', 'mango', 'lemon']
print(fruits.count('orange'))   # 1
ages = [22, 19, 24, 25, 26, 24, 25, 24]
print(ages.count(24))

1
3

In [ ]:
# index
fruits = ['banana', 'orange', 'mango', 'lemon']
print(fruits.index('orange'))   # 1
ages = [22, 19, 24, 25, 26, 24, 25, 24]
print(ages.index(24))

1
2

In [ ]:
# Reverse
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.reverse()
print(fruits)  
ages = [22, 19, 24, 25, 26, 24, 25, 24]
ages.reverse()
print(ages)

['lemon', 'mango', 'orange', 'banana']
[24, 25, 24, 26, 25, 24, 19, 22]

In [ ]:
# sort
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.sort()
print(fruits) 
fruits.sort(reverse=True)
print(fruits)
ages = [22, 19, 24, 25, 26, 24, 25, 24]
ages.sort()
print(ages) 
ages.sort(reverse=True)
print(ages)

['banana', 'lemon', 'mango', 'orange']
['orange', 'mango', 'lemon', 'banana']
[19, 22, 24, 24, 24, 25, 25, 26]
[26, 25, 25, 24, 24, 24, 22, 19]

#Tuple and it's function

In [ ]:
from google.colab import files
up = files.upload()

Saving New Text Document.txt to New Text Document.txt

In [ ]:
import pandas as pd
df = pd.read_csv('train.csv')
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S